.board{

display:grid;

grid-template-columns:repeat(4,90px);

grid-template-rows:repeat(4,90px);

margin:auto;

width:max-content;

}

.cell{

display:flex;

justify-content:center;

align-items:center;

font-size:45px;

border:2px solid #555;

background:white;

cursor:pointer;

}

/* خطوط ضخیم پنجره‌های 2×2 */

.cell:nth-child(4n+1){

border-left:4px solid black;

}

.cell:nth-child(-n+4){

border-top:4px solid black;

}

.cell:nth-child(2),
.cell:nth-child(6),
.cell:nth-child(10),
.cell:nth-child(14){

border-right:4px solid black;

}

.cell:nth-child(9),
.cell:nth-child(10),
.cell:nth-child(11),
.cell:nth-child(12){

border-top:4px solid black;

}

.empty{
    background:#fff7b2;
}

.selected{
    outline:5px solid deeppink;
}

.piece{
    font-size:35px;
    width:70px;
    height:70px;
    margin:8px;
    cursor:pointer;
}

.piece:hover{
    transform:scale(1.1);
}
#message{

    margin-top:20px;

    font-size:28px;

    color:#1b5e20;

    font-weight:bold;

    text-align:center;

}
.login{

    text-align:center;

    margin:30px;

}

.login input{

    width:250px;

    padding:12px;

    font-size:20px;

    border-radius:10px;

}

.login button{

    padding:12px 30px;

    font-size:20px;

    border:none;

    border-radius:10px;

    cursor:pointer;

}
